<div class="container">
  <img
    class="logo-img"
    src="/assets/img/img-header/logo-img.jpg"
    alt="picture"
  />
  <img
    class="client-logo"
    src="/assets/img/img-header/company-logo.png"
    alt="logo"
  />
  <div class="user-profile">
    <div>
      <img
        class="user-picture"
        src="/assets/img/img-header/user-picture.png"
        alt="user"
      />
    </div>
    <div>
      <div class="user-name">Esther Howard</div>
      <div class="user-id">856942153746548</div>
    </div>
    <div class="user-dropdown">
      <img
        class="dropdown"
        src="/assets/img/img-header/dropdown.png"
        alt="dropdown"
      />
      <div>
        <button class="logout-btn">
          <img
            class="logout"
            src="/assets/img/img-header/on-green.svg"
            alt="logout-button"
          />Déconnexion
        </button>
      </div>
    </div>
  </div>
</div>
