<div class="panel-container">
  <div class="title-wrapper">
    <button class="title-wrapper-btn">
      <img
        class="btn-arrow"
        src="/assets/img/img-toppanel/right-arrow .svg"
        alt="logout-button"
      />
      Retour
    </button>

    <span class="task-list">
      <img
        class="task-list-item"
        src="/assets/img/img-toppanel/task-square.svg"
        alt="task-list"
      />
    </span>
    <h2 class="title-content">Mes modéles</h2>
  </div>

  <div class="add-btn-containert">
    <button class="add-btn">
      <img class="add-icon" src="/assets/img/img-toppanel/add.svg" alt="add" />
      <span class="stick">|</span>
      Ajouter un modéle
    </button>
  </div>
</div>
