.wrapper {
  display: grid;
  grid-gap: 10px;
  background-color: #f5f5f5;
  padding: 15px;
  grid-template-areas:
    "header header"
    "sidebar top-panel"
    "sidebar main-page";
  /* grid-auto-columns: minmax(70px, 200px) auto; */
  /* grid-auto-columns: minmax(100px, auto) auto; */
  grid-template-columns: min-content auto;
}

.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.main-page {
  grid-area: main-page;
}
.top-panel {
  grid-area: top-panel;
}
