.wrapper {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 70px;
}
ul.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.icon {
  list-style-type: none;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
