<nav class="wrapper">
  <ul class="sidebar">
    <li class="icon">
      <img class="logo-img" src="/assets/img/img-sidebar/home.svg" alt="home" />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/directory.svg"
        alt="directory"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/calendar.svg"
        alt="calendar"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/location.svg"
        alt="location"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/clock_circle.svg"
        alt="clock"
      />
    </li>
    <li class="icon">
      <img
        class="logo-img"
        src="/assets/img/img-sidebar/user_grey.svg"
        alt="user"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/school.svg"
        alt="school"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/copyright.svg"
        alt="copyright"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/evro.svg"
        alt="money"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/download.svg"
        alt="download"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/download.svg"
        alt="download"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/compare_arrows.svg"
        alt="arrows"
      />
    </li>
    <li class="icon">
      <img class="icon-img" src="/assets/img/img-sidebar/load.svg" alt="load" />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/setting.svg"
        alt="settings"
      />
    </li>
    <li class="icon">
      <img
        class="icon-img"
        src="/assets/img/img-sidebar/on.png"
        alt="picture"
      />
    </li>
  </ul>
</nav>
