<div class="client-sectoin-wrapper">
  <div class="client-sectoin-title">
    <img
      class="client-sectoin-title-img"
      src="/assets/img/img-clientsectoin/note-2.svg"
      alt="picture"
    />
    <span class="client-sectoin-title-content">Pré-valuation</span>
  </div>
  <section class="client-sectoin-action-section">
    <div class="filter-wrap">
      <input id="icon" class="filter" placeholder="Recherche des modeles" />
    </div>
    <div class="table-title">
      <label class="container">
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
      <div class="list-items">ID</div>
      <div class="list-items">Nom du modéles</div>
    </div>
    <div class="table-body">
      <div
        class="list-item"
        *ngFor="let item of itemsList"
        [class.selected]="item === selectedItem"
        (click)="check(item)"
      >
        <div class="item-content">
          <label class="container">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
          <div class="item-id">{{ item.id }}</div>
          <div class="item-name">{{ item.item }}</div>
        </div>
        <div class="item-icons">
          <img
            class="eye"
            [src]="isDisabled ? eye.srcOf : eye.srcOn"
            alt="eye"
          />
          <img
            class="edit"
            [src]="isDisabled ? edit.srcOf : edit.srcOn"
            alt="edit"
          />
          <img
            (click)="disable(item)"
            class="toggle"
            [src]="isDisabled ? toggler.srcOf : toggler.srcOn"
            alt="toggle"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="client-sectoin-view-section"></section>
</div>
